

/* If the cube is directly inside the container:
Küp doğrudan kabın içindeyse: */
#container:hover > #cube { background-color: yellow; }

/* If cube is next to (after containers closing tag) the container:
Küp, kapsayıcının yanındaysa (kapsayıcı etiketini kapattıktan sonra): */
#container:hover + #cube { background-color: yellow; }

/* If the cube is somewhere inside the container:
Küp, kabın içinde bir yerdeyse: */
#container:hover #cube { background-color: yellow; }

/* If the cube is a sibling of the container:
Küp, kabın kardeşiyse: */
#container:hover ~ #cube { background-color: yellow; }
