

/*  If you set box-sizing: border-box; on an element, padding and border are
  included in the width and height.
  özellik, padding ve maring bir öğenin toplam width ve height'ine dahil etmemize izin verir.
*/

  * {box-sizing:border-box}

  /* slide container */
  .slideshow-container{
    max-width: 1000px;
    /* bootstrap'da izin verilen en son genişliğini bul. 480px */
    position:relative;
    /* relative: bağlı göreceli
      Öğe, normal konumuna göre konumlandırılır, bu nedenle "left: 20 px", öğenin SOL konumuna 20 piksel ekler
    */
    margin:auto;
    /*margin:auto Tarayıcı bir margin hesaplar*/
  }
  /* resimler varsayılan olrak gizlenir. */
  .mySlides{
    display: none;
  }

  /* ileri ve geri butonları */
  .prev, .next{
    cursor:pointer;
    /* mouse üstüne gelince hangi şekli göstersin*/
    position:absolute;
    /* mutlak pozisyon*/
    top:50%;
    width: auto;
    margin-top:-22px;
    /* eksi olduğu için üstteki öğrenin içine girebilir*/
    padding:16px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    /*transition: geçiş, değişme
      ease: kolaylaştırmak, hafifletmek
    */
    border-radius: 0 3px 3px 0;
    user-select:none;
    /*User-select özelliği, bir elemanın metninin seçilip seçilemeyeceğini belirtir.*/
  }

  /* İleri butonunu sağ tarafa konumlandırma */
  .next{
    right:0;
    border-radius:3px 0 0 3px;
  }

  /* Fareyle üzerine gelindiğinde, biraz şeffaf olan siyah bir arka plan rengi ekleyin */
  .prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
  }

  /* başlık texti */
  .text {
    color:#f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position:absolute;
    bottom: 8px;
    width:100%;
    text-align: center;
  }

  /* numara text'i (1 / 3) vb. */
  .numbertext {
    color:#f2f2f2;
    font-size:12px;
    padding:8px 12px;
    position:absolute;
    top:0;
  }

  /* nokta kısımları için css*/
  .dot{
    cursor:pointer;
    height:15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bb;
    border-radius: 50%;
    dislay: inline-block;
    /* Bir öğeyi satır içi düzey blok kapsayıcı olarak görüntüler. Öğenin kendisi bir satır içi öğe olarak biçimlendirilmiştir, ancak yükseklik ve genişlik değerlerini uygulayabilirsiniz */
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }

  /* fade : solma animasyonu*/
  .fade {
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    /* bu kısımlar tarayıcı desteklemesi içindir
        Tablodaki sayılar, özelliği tam olarak destekleyen ilk tarayıcı sürümünü belirtir. Ardından -webkit-, -moz- veya -o- gelen sayılar, bir önekle çalışan ilk sürümü belirtir. daha fazlası için: https://www.w3schools.com/cssref/css3_pr_animation.asp
    */
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity:1}
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity:1}
  }
